﻿@model WebwinkelDJADO.Models.Product

@{
    ViewBag.Title = "ISkills Shop";
}

<h2>ItemDetail</h2>

<div style="display: inline-block" class="well">
    <div style="width:190px; float:left;">
        <img src="@Url.Content(@Model.Image)" width="170" height="276" alt="@Model.ProductName" title="@Model.ProductName" />
    </div>
    <div style="width:70%; float:left;">
        <h1>
            @Html.DisplayFor(modelItem => Model.ProductName)
        </h1>
        <p>
            @*@Html.DisplayFor(modelItem => Model.Description)*@
            @Html.Raw(Model.Details)
        </p>
        <h4>
            <span class="label label-info">
                €@Html.DisplayFor(modelItem => Model.Price)
            </span>
        </h4>
        @using (Html.BeginForm("AddToCart", "ShoppingCart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }
    </div>
</div>
