﻿@model WebwinkelDJADO.Models.Customer
@{
    ViewBag.Title = "Register User";
}

@using (Html.BeginForm("Register", "Register"))
{
    @Html.ValidationSummary()
    <h2>Register</h2>
    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        <label>Last Name</label>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Address</label>
        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>City</label>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>State</label>
        @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Zip Code</label>
        @Html.TextBoxFor(x => x.PostalCode, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Email Address (This will be your user name)</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>

    <div class="text-center">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register" />
    </div>
}
