﻿<h2>Opdracht 3</h2>

<div class="jumbotron">
    <h1>WebwinkelDJADO</h1>
    <p>Welkom in Opdracht 3 van Davy Bonnevalle en Jim Bertels.</p>
    <a href="~/Shop/Index" class="btn btn-lg btn-primary">Shop</a>
</div>

<!-- Slideshow -->
<div class="row carousel-holder">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="~/Content/Images/BG1.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Content/Images/BG2.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Content/Images/BG3.jpg" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>


