﻿@model WebwinkelDJADO.Models.Customer

<h2>Log In</h2>
@using (Html.BeginForm("Index", "Login"))
{
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery) <!-- als een gebruiker niet is ingelogd om deze view te zien gaan we deze url opslaan en de gebruiker naar de login view sturen, als de gebruiker is ingelogged sturen we hem naar de url die hij wilde zien -->

    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div class="form-group">
        <label>Email Address</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>

    <div class="text-center">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log In" />
    </div>
}

