﻿@model WebwinkelDJADO.Models.ProductsModel

@{
    ViewBag.Title = "ISkills Shop";
}

<h2>Shop</h2>

@using (Html.BeginForm("Index", "Shop", FormMethod.Post, new { id = "ShopForm" }))  // deze form als hij wordt gesubmit, stuurt deze request naar de Index ActionResult methode van de ShopController, via de POST methode, en we zetten de html id naam van deze form naar "ShopForm", zodat de javascript "onchange" event deze kan terugviden.
{
    // verborgen form waarden die worden meegestuurd in de submit request naar de Index ActionResult methode van de ShopController
    @Html.HiddenFor(x => x.Pagination.CurrentPage);
    @Html.HiddenFor(x => x.Pagination.ItemsPerPage);
    @Html.HiddenFor(x => x.Pagination.TotalItems);

    <div class="well">
        <div>
            Category:
            @Html.DropDownListFor(x => x.CategoryID, Model.Categories(), "---Select a Category---",
             new
             {
                 // javascript "onchange" event, als een nieuwe categorie in deze dropdownlist wordt geselecteerd door de gebruiker, gaan we deze shopform automatisch submitten, zodat het de products lijst update naar de gekozen categorie.
                 onchange = "document.getElementById('ShopForm').submit();"
             })
            <span class="pull-right">
                <span class="glyphicon glyphicon-search"></span>
                @Html.TextBoxFor(x => x.SearchString) <!-- de zoekterm die wordt meegegevn in de post request -->
                <input type="submit" value="Search" /> <!-- ook deze subimit onze "ShopForm" --> 
            </span>
        </div>
    </div>

    foreach (var item in Model.Products) // lijst met alle producten
    {
        @Html.Partial("Product", item)
    }

    <div class="pager"> <!-- paginatie links -->
        @Html.PageLinks(Model.Pagination, x => Url.Action("Index", new { page = x, categoryID = Model.CategoryID }))
    </div>
}
