﻿@model WebwinkelDJADO.Models.Product
<!-- Partial view voor de product list foreach loop in Shop Index view -->
<div style="display: inline-block" class="well">
    <div style="width:30%; float: left;">
        <img src="@Url.Content(@Model.Image)" width="170" height="276" alt="@Model.ProductName" title="@Model.ProductName" />
    </div>
    <div style="width:70%; float: left;">
        <h3>
            @Html.DisplayFor(modelItem => Model.ProductName)
        </h3>
        <p>
            @Html.DisplayFor(modelItem => Model.Description)
        </p>
        <h4>
            <span class="label label-info">
                €@Html.DisplayFor(modelItem => Model.Price)
            </span>
        </h4>
        <p>
            @Html.ActionLink("More Info", "Index", "ItemDetail", new { id = Model.ProductID }, new { id = "ProductID" }) <!-- geeft de ProductID van dit item mee aan de Index Actionresult methode van de ItemDetailController, en de css styling voor deze link komt van id = "ProductID" css class -->
            <!-- @Html.ActionLink("More Info", "Info", new { id = Model.ProductID })  geeft de ProductID van dit item mee aan de Info Actionresult methode van de ShopController -->
        </p>
    </div>
</div>