﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Admin Pannel</h2>
        <a href="~/Product/Index" class="btn btn-lg btn-primary">Eddit Products Table</a>
    </div>
</body>
</html>
