﻿@model WebwinkelDJADO.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Delete</h2>
        <h4>Product</h4>
        <h3>Are you sure you want to delete this?</h3>
        <div>            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Details)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Details)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CategoryID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CategoryID)
                </dd>
            </dl>
        </div>
        <p>
            <div>
                @Html.ActionLink("Delete", "Delete", new { id = Model.ProductID }, new { @class = "btn btn-default" })
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </p>
</div>
</body>
</html>
