﻿@model IEnumerable<WebwinkelDJADO.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Edit Products Table</h2>
        @ViewBag.Message
        <ul>
            <li>@Html.ActionLink("Voeg een product toe", "Inserting", "Product")</li>
        </ul>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryID)
                </th>
                <th>Options</th>
            </tr>
            @if (!(Model == null))
            {
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.ProductName) </td>
                            <td> @Html.DisplayFor(modelItem => item.Price) </td>
                            <td> @Html.DisplayFor(modelItem => item.Image) </td>
                            <td> @Html.DisplayFor(modelItem => item.Description) </td>
                            <td> @Html.DisplayFor(modelItem => item.Details) </td>
                            <td> @Html.DisplayFor(modelItem => item.CategoryID) </td>
                            <td>
                                @Html.ActionLink("Edit", "Updating", new { id = item.ProductID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                                @Html.ActionLink("Delete", "Deleting", new { id = item.ProductID })
                            </td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</body>
</html>
